.info-handler{
    display: flex;
    justify-content: center;
}
.dropdown-container {
    position: relative; /* Enable absolute positioning for dropdown content */
}

.dropdown-content {
    /* Transition effect */
    opacity: 0;
    max-height: 0;
    overflow: scroll;

    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-content.open {
    opacity: 1;
    max-height: 400px; /* Adjust as needed */
}